<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/popup.css" />
  </head>
  <body>
    <div class="input__container">
      <input
        type="text"
        name="folder"
        id="folder"
        placeholder="Folder name..."
      />
      <p>Your bookmarks folder will be available in 'Other Bookmarks'</p>
      <p>
        If no name is specified, the folder name will be the date and time of
        creation
      </p>
      <button id="createBookmark">Create Bookmarks</button>
      <script src="../js/popup.js"></script>
    </div>
  </body>
</html>
